<div style="width: 100%; height: 50px; background: #305EBE;">
	<div style="width: 80%; height: 100%; margin: auto;">
		<div style="width: 200px; height: calc(100% - 10px); float: left; padding-top: 10px;">
			<img src="assets/images/logo.png" height="30">
		</div>
		<div style="width: calc(100% - 200px); height: 100%; float: left;">
			<div style="width: 250px; padding: 0 30px; cursor: pointer; padding-right: 0; height: calc(100% - 10px); color: #FFF; float: right; font-size: 0.8rem; padding-top: 5px;">
				<div style="width: 100%; height: 40px; border-radius: 40px; background: #FFF;"></div>
			</div>
			<div style="width: auto; padding: 0 30px; cursor: pointer; height: calc(100% - 15px); color: #FFF; float: right; font-size: 0.8rem; padding-top: 15px;" ng-click="logout();">
				LOGOUT
			</div>
			<div style="width: auto; padding: 0 30px; cursor: pointer; height: calc(100% - 15px); color: #FFF; float: right; font-size: 0.8rem; padding-top: 15px;">
				CREATE POST
			</div>
		</div>
	</div>
</div>
<div style="width: 100%; height: calc(100vh - 50px);" ui-view="container">
	
</div>