<div style="width: 100%; height: 100%;" data-simplebar>
	<div class="noselect" style="width: 80%; height: 50px; margin: auto; margin-top: 30px; margin-bottom: 30px;">
		<div style="width: 30px; height: 50px; float: left; position: relative; margin-right: 20px; color: #666; font-size: 2rem;">
			<i class="fa fa-tag center_item_vertically"></i>
		</div>
		<div class="of_tag" ng-class="{'active': tag == 'all'}" ng-click="setTag('all');">
			ALL
		</div>
		<div class="of_tag" ng-class="{'active': tag == 'entertainment'}" ng-click="setTag('entertainment');">
			ENTERTAINMENT
		</div>
		<div class="of_tag" ng-class="{'active': tag == 'news'}" ng-click="setTag('news');">
			NEWS
		</div>
		<div class="of_tag" ng-class="{'active': tag == 'sports'}" ng-click="setTag('sports');">
			SPORTS
		</div>
		<div class="of_tag" ng-class="{'active': tag == 'business'}" ng-click="setTag('business');">
			BUSINESS
		</div>
	</div>
	<div style="width: 80%; height: auto; margin: auto;">
		<div class="of_post noselect" ng-if="(tag == (post.category | lowercase)) || (tag == 'all')" ng-class="post.category | lowercase" ng-repeat="post in posts | reverse  | filter : content_filter">
			<div class="preview">
				<span class="text center_item nowrap">"{{parsePreview(post.content)}}"</span>
			</div>
			<div class="post_title text_truncate">
				{{post.title}}
			</div>
			<div class="post_desc text_truncate_two">
				{{post.content}}
			</div>
			<div class="post_meta">
				<div class="tag-color">
					
				</div>
				<div class="tag-label">
					{{post.category}}
				</div>
				<div class="comment-icon">
					<i class="fa fa-comments center_item"></i>
				</div>
				<div class="tag-label">
					0
				</div>
				<div style="width: 100%; height: auto; float: left; margin-bottom: 10px;">
					<div class="comment-icon">
						<i class="fa fa-user center_item" style="font-size: 1.3rem;"></i>
					</div>
					<div class="tag-label">
						{{post.name}}
					</div>
				</div>
			</div>
			<div class="post_readmore">
				<div ng-if="globals.currentUser.userdata.data[0].id == post.userid" ng-click="delete(post.id)" style="width: 30px; height: 30px; position: relative; float: left; cursor: pointer;">
					<i class="fa fa-trash" style="width: 30px; height: 25px; position: relative; float: left; text-align: left; padding-top: 5px; font-size: 1.3rem; color: #666;"></i>
				</div>
				<button ng-if="globals.currentUser.userdata.data[0].id == post.userid" ng-click="edit(post);">EDIT</button>
				<button ui-sref="post({postid: post.id})" ng-class="post.category | lowercase">READ MORE</button>
			</div>
		</div>
	</div>
</div>