<div style="width: 100%; height: 100%;" data-simplebar>
	<div class="noselect" style="width: 80%; height: 50px; margin: auto; margin-top: 30px;">
		<div class="of_tag" ng-class="{'active': tag == 'all'}" ng-click="setTag('all');">
			ALL
		</div>
		<div class="of_tag" ng-class="{'active': tag == 'entertainment'}" ng-click="setTag('entertainment');">
			ENTERTAINMENT
		</div>
		<div class="of_tag" ng-class="{'active': tag == 'news'}" ng-click="setTag('news');">
			NEWS
		</div>
		<div class="of_tag" ng-class="{'active': tag == 'sports'}" ng-click="setTag('sports');">
			SPORTS
		</div>
		<div class="of_tag" ng-class="{'active': tag == 'history'}" ng-click="setTag('history');">
			HISTORY
		</div>
	</div>
</div>