<div class="of_oneofus">
	<span class="center_item_vertically">One of us?</span>
</div>
<div class="of_authcontainer" data-simplebar>
	<form id="loginUser" ng-submit="loginUser();">
		<div class="of_authtitle">
			LOGIN
		</div>
		<div class="input-box" data-validate="Email address">
			<div class="label">
				EMAIL ADDRESS <span class="required">*</span>
			</div>
			<div class="inputcontainer">
				<input type="text" ng-model="user.email" autocomplete="new-password">
			</div>
			<div class="valid_status error"></div>
		</div>
		<div class="input-box" data-validate="Password">
			<div class="label">
				PASSWORD <span class="required">*</span>
			</div>
			<div class="inputcontainer">
				<input type="password" ng-model="user.password" autocomplete="new-password">
			</div>
			<div class="valid_status error"></div>
		</div>
		<div class="input-box">
			<button type="submit" class="of_btn">
				<span class="center_item" ng-if="!onLogin">LOGIN</span>
				<div class="loading_dots" ng-if="onLogin">
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>
			</button>
		</div>
		<div class="status" ng-bind-html="showLoginStatus" ng-class="{'showStatus': showLoginStatus, 'error': errorLoginStatus, 'success': successLoginStatus}">
		</div>
	</form>
	<div class="input-box align-center of_authalt">
		Not one of US? <span class="emphasis" ng-click="signup();">SIGN UP</span>
	</div>
</div>