<div class="relative-container" data-simplebar>
	<div class="of_bodyheadercontainer post">
		<div ng-class="post.category | lowercase" class="box">
			
		</div>
		<div class="title">
			{{post.title | uppercase}}
		</div>
		<div ng-class="post.category | lowercase" class="openbox">
			<i class="fa fa-user center_item"></i>
		</div>
		<div class="label">
			{{post.name}}
		</div>
		<div ng-class="post.category | lowercase" class="openbox">
			<i class="fa fa-tag center_item"></i>
		</div>
		<div class="label">
			{{post.category}}
		</div>
		<div ng-class="post.category | lowercase" class="openbox">
			<i class="fa fa-comments center_item"></i>
		</div>
		<div class="label">
			{{post.comments.length}} comments
		</div>
		<div class="of_postview">
			{{post.content}}
		</div>
		<div ng-class="post.category | lowercase" class="openbox comments">
			<i class="fa fa-comments center_item"></i>
		</div>
		<div class="of_commentsection">
			<div ng-class="post.category | lowercase" class="color">
				<span class="center_item_vertically bold">COMMENTS</span>
			</div>
			<form class="of_commentform" ng-submit="addComment();">
				<div class="of_commentinput">
					<textarea ng-model="commentAdd.text" placeholder="Type a comment here ..."></textarea>
				</div>
				<button type="submit" class="addComment">
					<i class="fa fa-arrow-right center_item"></i>
				</button>
			</form>
			<div ng-repeat="comment in post.comments | reverse" ng-if="post.comments.length > 0">
				<form ng-submit="editComment(comment.userid);">
					<div class="commentContainer" ng-if="editingComment">
						<input type="text" ng-model="comment.text">
					</div>
					<div class="commentContainer">
						{{comment.text}}
					</div>
				</form>
				<div class="commentaction edit" ng-if="globals.currentUser.userdata.data[0].id == comment.userid" ng-click="editComment(comment.userid);">
					<i class="center_item fa fa-edit"></i>
				</div>
				<div class="commentaction delete" ng-if="globals.currentUser.userdata.data[0].id == comment.userid" ng-click="deleteComment(comment.userid);">
					<i class="center_item fa fa-trash"></i>
				</div>
			</div>
			<div class="of_nodata" ng-if="post.comments.length == 0">
				No comments yet
			</div>
		</div>
	</div>
</div>