<div class="of_oneofus">
	<span class="center_item_vertically">Not one of us?</span>
</div>
<div class="of_authcontainer" data-simplebar>
	<form id="signupUser" ng-submit="signupUser();">
		<div class="of_authtitle">
			SIGN UP
		</div>
		<div class="input-box" data-validate="Name">
			<div class="label">
				NAME <span class="required">*</span>
			</div>
			<div class="inputcontainer">
				<input type="text" ng-model="userSignup.name">
			</div>
			<div class="valid_status error"></div>
		</div>
		<div class="input-box" data-validate="Email">
			<div class="label">
				EMAIL ADDRESS <span class="required">*</span>
			</div>
			<div class="inputcontainer">
				<input type="text" ng-model="userSignup.email">
			</div>
			<div class="valid_status error"></div>
		</div>
		<div class="input-box" data-validate="Password">
			<div class="label">
				PASSWORD <span class="required">*</span>
			</div>
			<div class="inputcontainer">
				<input type="password" ng-model="userSignup.password">
			</div>
			<div class="valid_status error"></div>
		</div>
		<div class="input-box">
			<button type="submit" class="of_btn">
				<span class="center_item" ng-if="!onSignup">SIGN UP</span>
				<div class="loading_dots" ng-if="onSignup">
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>
			</button>
		</div>
	</form>
	<div class="status" ng-bind-html="showSignupStatus" ng-class="{'showStatus': showSignupStatus, 'error': errorSignupStatus, 'success': successSignupStatus}">
	</div>
	<div class="input-box align-center of_authalt">
		One of US? <span class="emphasis" ng-click="login();">LOGIN</span>
	</div>
</div>