.loading {
  -webkit-perspective: 600px;
  -khtml-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  width: auto;
  height: 15px;
  margin-top: -20px;
  padding-top: 12px;
}
.loading div.ball:nth-of-type(1) {
  -webkit-animation: bounce 0.75s ease-in infinite alternate;
  -khtml-animation: bounce 0.75s ease-in infinite alternate;
  -moz-animation: bounce 0.75s ease-in infinite alternate;
  -ms-animation: bounce 0.75s ease-in infinite alternate;
  -o-animation: bounce 0.75s ease-in infinite alternate;
  animation: bounce 0.75s ease-in infinite alternate;
  -webkit-animation-delay: 0s;
  -khtml-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.loading div.ball:nth-of-type(2) {
  -webkit-animation: bounce 0.75s ease-in infinite alternate;
  -khtml-animation: bounce 0.75s ease-in infinite alternate;
  -moz-animation: bounce 0.75s ease-in infinite alternate;
  -ms-animation: bounce 0.75s ease-in infinite alternate;
  -o-animation: bounce 0.75s ease-in infinite alternate;
  animation: bounce 0.75s ease-in infinite alternate;
  -webkit-animation-delay: 0.2s;
  -khtml-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loading div.ball:nth-of-type(3) {
  -webkit-animation: bounce 0.75s ease-in infinite alternate;
  -khtml-animation: bounce 0.75s ease-in infinite alternate;
  -moz-animation: bounce 0.75s ease-in infinite alternate;
  -ms-animation: bounce 0.75s ease-in infinite alternate;
  -o-animation: bounce 0.75s ease-in infinite alternate;
  animation: bounce 0.75s ease-in infinite alternate;
  -webkit-animation-delay: 0.4s;
  -khtml-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loading div.ball {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 1), 0px 0px 50px rgba(255, 255, 255, 1) inset;
  -khtml-box-shadow: 0px 0px 30px rgba(255, 255, 255, 1), 0px 0px 50px rgba(255, 255, 255, 1) inset;
  -moz-box-shadow: 0px 0px 30px rgba(255, 255, 255, 1), 0px 0px 50px rgba(255, 255, 255, 1) inset;
  -ms-box-shadow: 0px 0px 30px rgba(255, 255, 255, 1), 0px 0px 50px rgba(255, 255, 255, 1) inset;
  -o-box-shadow: 0px 0px 30px rgba(255, 255, 255, 1), 0px 0px 50px rgba(255, 255, 255, 1) inset;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1), 0px 0px 50px rgba(255, 255, 255, 1) inset;
  -webkit-transform: translateY(-50px);
  -khtml-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transform-style: preserve-3d;
  -khtml-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #FFF;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 3px;
}
.calltoaction:hover .loading div.ball {
  -webkit-box-shadow: 0px 0px 30px rgba(237, 50, 53, 1), 0px 0px 50px rgba(237, 50, 53, 1) inset;
  -khtml-box-shadow: 0px 0px 30px rgba(237, 50, 53, 1), 0px 0px 50px rgba(237, 50, 53, 1) inset;
  -moz-box-shadow: 0px 0px 30px rgba(237, 50, 53, 1), 0px 0px 50px rgba(237, 50, 53, 1) inset;
  -ms-box-shadow: 0px 0px 30px rgba(237, 50, 53, 1), 0px 0px 50px rgba(237, 50, 53, 1) inset;
  -o-box-shadow: 0px 0px 30px rgba(237, 50, 53, 1), 0px 0px 50px rgba(237, 50, 53, 1) inset;
  box-shadow: 0px 0px 30px rgba(237, 50, 53, 1), 0px 0px 50px rgba(237, 50, 53, 1) inset;
}
.loading.loading_white div.ball {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.8) inset;
  -khtml-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.8) inset;
  -ms-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.8) inset;
  -o-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.8) inset;
  -webkit-transform: translateY(-50px);
  -khtml-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transform-style: preserve-3d;
  -khtml-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #FFF;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 3px;
}
.loading div.ball:last-child {
  margin-right: 0px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-6px);
    -khtml-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    opacity: 0.7;
  }
  95% {
    border-radius: 50%;
  }
  100% {
    -webkit-transform: translateY(6px);
    -khtml-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
    border-radius: 50% 50% 10% 10%;
  }
}
@-khtml-keyframes bounce {
  0% {
    -webkit-transform: translateY(-6px);
    -khtml-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    opacity: 0.7;
  }
  95% {
    border-radius: 50%;
  }
  100% {
    -webkit-transform: translateY(6px);
    -khtml-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
    border-radius: 50% 50% 10% 10%;
  }
}
@-moz-keyframes bounce {
  0% {
    -webkit-transform: translateY(-6px);
    -khtml-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    opacity: 0.7;
  }
  95% {
    border-radius: 50%;
  }
  100% {
    -webkit-transform: translateY(6px);
    -khtml-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
    border-radius: 50% 50% 10% 10%;
  }
}
@-ms-keyframes bounce {
  0% {
    -webkit-transform: translateY(-6px);
    -khtml-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    opacity: 0.7;
  }
  95% {
    border-radius: 50%;
  }
  100% {
    -webkit-transform: translateY(6px);
    -khtml-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
    border-radius: 50% 50% 10% 10%;
  }
}
@-o-keyframes bounce {
  0% {
    -webkit-transform: translateY(-6px);
    -khtml-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    opacity: 0.7;
  }
  95% {
    border-radius: 50%;
  }
  100% {
    -webkit-transform: translateY(6px);
    -khtml-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
    border-radius: 50% 50% 10% 10%;
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-6px);
    -khtml-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    opacity: 0.7;
  }
  95% {
    border-radius: 50%;
  }
  100% {
    -webkit-transform: translateY(6px);
    -khtml-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
    border-radius: 50% 50% 10% 10%;
  }
}
