html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Poppins;
}
.nowrap{
	white-space: nowrap;
}
.wrap{
	white-space: pre-wrap !important;
}
.uppercase{
	text-transform: uppercase;
}
.relative-container{
	width: 100%;
	height: 100%;
	position: relative;
}
.center_item{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.noselect {
  -webkit-touch-callout: none;/* iOS Safari */
    -webkit-user-select: none;/* Safari */
     -khtml-user-select: none;/* Konqueror HTML */
       -moz-user-select: none;/* Firefox */
        -ms-user-select: none;/* Internet Explorer/Edge */
            user-select: none;/* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.align-center{
	text-align: center;
}
.text_truncate{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text_truncate_two {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.italics{
	font-style: italic;
}
.emphasis{
	color: #305EBE;
	font-weight: bold;
	cursor: pointer;
}
.bold{
	font-weight: 600;
}
.nomargin{
	margin: 0 !important;
}

.noScroll{
	overflow: hidden !important;
}

.center_item_vertically{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
}
.center_item_horizontally{
    position: absolute;
    left: 50% !important;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
}

.overallContainer{
    position: relative;
}
.clear-both{
	clear: both;
}

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fullsize{
	width: 100%;
	height: 100%;
}
#page-loading{
	width: 100%;
	height: 100%;
	z-index: 99999;
	position: absolute;
	background: #FFF;
}
#page-loading .center_item_vertically{
	width: 100%;
	height: auto;
	top: 45%;
}
#page-loading .icon{
	width: 100%;
	height: 40px;
	text-align: center;
	background: url(../images/logo_blue.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.of_loadingicon{
	width: 100%;
	height: 40px;
	text-align: center;
	margin-top: 20px;
}
.input-box{
	width: 80%;
	height: auto;
	margin: auto;
	margin-bottom: 15px;
}
.input-box .label{
	width: 100%;
	height: 25px;
	font-size: 0.7rem;
	color: #4F4F4F;
	font-weight: 500;
	letter-spacing: 0.1rem;
	text-align: left;
}
.input-box.midiextend{
	margin-bottom: 30px;
}
.input-box.extend{
	margin-bottom: 40px;
}
.required{
	color: red;
}
.input-box .inputcontainer{
	width: 100%;
	min-height: 45px;
	position: relative;
}
.input-box .inputcontainer input, .input-box .inputcontainer select{
	width: calc(100% - 10px);
	padding-left: 10px;
	border: none;
	outline: none;
	background: #F2F2F2;
	border-radius: 5px;
	height: 45px;
}
.input-box .inputcontainer select{
	width: 100%;
}
.input-box .inputcontainer textarea{
	resize: none;
	width: calc(100% - 20px);
	height: 80px;
	padding: 10px;
	outline: none;
	border: none;
	background: #F2F2F2;
	border-radius: 5px;
	font-family: inherit;
}
.of_btn{
	width: 100%;
	height: 45px;
	background: #305EBE;
	color: #FFF;
	position: relative;
	border: 1px solid #305EBE;
	border-radius: 5px;
	font-size: 0.9rem;
	transition: all 0.3s;
	outline: none;
	padding: 0;
	cursor: pointer;
}
.of_btn:hover{
	background: #FFF;
	color: #305EBE;
}
.of_btn img:not(.inverted){
	display: none;
}
.of_btn:hover img.inverted{
	display: none;
}
.of_btn:hover img:not(.inverted){
	display: block;
}
.of_btn_inverted{
	width: 100%;
	height: 45px;
	background: transparent;
	color: #305EBE;
	position: relative;
	border: 1px solid #305EBE;
	border-radius: 5px;
	font-size: 0.9rem;
	transition: all 0.3s;
	outline: none;
	padding: 0;
}
.of_btn_inverted:hover{
	background: #305EBE;
	color: #FFF;
}
.valid_status{
	width: 100%;
    height: 25px;
    margin-top: -40px;
    transition: all 0.3s;
    text-align: left;
    padding-top: 15px;
    font-size: 0.8rem;
    font-style: italic;
    color: red;
}
.showValidStatus{
	margin-top: 0;
}
.status{
	width: 100%;
	height: 0px;
	text-align: center;
	overflow: hidden;
	font-size: 0.85rem;
	transition: all 0.5s;
}

.showStatus{
	height: 40px;
}

.showStatus.error{
	color: #DA251C;
}

.showStatus.success{
	color: #8CB429;
}
.of_tag{
	width: auto;
	display: inline-block;
	float: left;
	margin-right: 10px;
	padding: 10px 20px;
	border: 1px solid #BBB;
	border-radius: 50px;
	font-size: 0.8rem;
	cursor: pointer;
	color: #BBB;
	background:#FFF;
	transition: all 0.3s;
}
.of_tag.active{
	border: 1px solid #305EBE;
	color: #FFF;
	background: #305EBE;
}
.of_tag:hover{
	border: 1px solid #305EBE;
	color: #FFF;
	background: #305EBE;
}
.of_post{
	width: calc((100% - 30px) / 4);
	height: 325px;
	border-radius: 10px;
	background: #EEE;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.of_post:nth-of-type(4n){
	margin-right: 0;
}
.of_post .preview{
	width: calc(100% - 20px);
	height: 100px;
	margin: auto;
	margin-bottom: 15px;
	margin-top: 10px;
	border-radius: 7px;
	position: relative;
}
.of_post .preview .text{
	color: #FFF;
	font-size: 2rem;
}
.post_title{
	width: calc(100% - 30px);
	height: 35px;
	font-size: 1.0rem;
	font-weight: 500;
	color: #000;
	margin: auto;
	text-transform: uppercase;
}
.post_desc{
	width: calc(100% - 30px);
	height: 35px;
	font-size: 0.8rem;
	font-weight: 300;
	color: #666;
	margin: auto;
	margin-bottom: 15px;
}
.entertainment .preview, .entertainment .tag-color{
	background: #D61A47;
}
.entertainment .comment-icon i{
	color: #D61A47;
}
.sports .preview, .sports .tag-color{
	background: #D68B1A;
}
.sports .comment-icon i{
	color: #D68B1A;
}
.news .preview, .news .tag-color{
	background: #00897b;
}
.news .comment-icon i{
	color: #00897b;
}
.business .preview, .business .tag-color{
	background: #F27C21;
}
.business .comment-icon i{
	color: #F27C21;
}
.post_meta{
	height: 55px;
	width: calc(100% - 30px);
	margin: auto;
}
.post_meta .tag-color{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	float: left;
}
.post_meta .comment-icon{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	float: left;
	position: relative;
}
.post_meta .tag-label{
	width: auto;
	height: 18px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 0.75rem;
	color: #888;
	float: left;
	position: relative;
	padding-top: 2px;
}
.post_readmore{
	width: calc(100% - 30px);
	height: 30px;
	margin: auto;
	text-align: right;
}
.post_readmore button{
	width: 100px;
	height: 30px;
	background: #AAA;
	border: 1px solid #AAA;
	color: #FFF;
	border-radius: 5px;
	font-size: 0.7rem;
	transition: all 0.3s;
	cursor: pointer;
	outline: none;
}
.post_readmore button:hover{
	background: transparent;
	color: #AAA !important;
}
.post_readmore button.entertainment{
	background: transparent;
	border: 1px solid #D61A47;
	color: #D61A47;
}
.post_readmore button.entertainment:hover{
	background: #D61A47;
	color: #FFF !important;
}
.post_readmore button.sports{
	background: transparent;
	border: 1px solid #D68B1A;
	color: #D68B1A;
}
.post_readmore button.sports:hover{
	background: #D68B1A;
	color: #FFF !important;
}
.post_readmore button.news{
	background: transparent;
	border: 1px solid #00897b;
	color: #00897b;
}
.post_readmore button.news:hover{
	background: #00897b;
	color: #FFF !important;
}
.post_readmore button.business{
	background: transparent;
	border: 1px solid #F27C21;
	color: #F27C21;
}
.post_readmore button.business:hover{
	background: #F27C21;
	color: #FFF !important;
}
.entertainment.box{
	background: #D61A47;
}
.entertainment.openbox{
	border: 1px solid #D61A47;
}
.entertainment.openbox i, .entertainment.color{
	color: #D61A47;
}
.sports.box{
	background: #D68B1A;
}
.sports.openbox{
	border: 1px solid #D68B1A;
}
.sports.openbox i, .sports.color{
	color: #D68B1A;
}
.news.box{
	background: #00897b;
}
.news.openbox{
	border: 1px solid #00897b;
}
.news.openbox i, .news.color{
	color: #00897b;
}
.business.box{
	background: #F27C21;
}
.business.openbox{
	border: 1px solid #F27C21;
}
.business.openbox i, .business.color{
	color: #F27C21;
}

.of_closebtn{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 50px;
	top: 0;
	border: 1px solid #BBB;
	cursor: pointer;
	transition: all 0.3s;
}
.of_closebtn i{
	font-size: 3.5rem;
	color: #BBB;
	transition: all 0.3s;
}
.of_closebtn:hover{
	background: #305EBE;
	border: 1px solid #305EBE;
}
.of_closebtn:hover i{
	color: #FFF;
}
.of_create{
	width: 500px;
	height: 485px;
	background: #FFF;
	border: 1px solid #DDD;
	margin: auto;
}
.create_label{
	width: 80%;
	height: 40px;
	padding-top: 30px;
	margin: auto;
	font-size: 1.5rem;
	color: #305EBE;
	margin-bottom: 20px;
}
.commentaction{
	width: 43px;
	height: 43px;
	background: transparent;
	border-radius: 10px;
	margin-bottom: 10px;
	border: 1px solid #EEE;
	position: relative;
	float: left;
	cursor: pointer;
	transition: all 0.3s;
}
.commentaction:hover{
	background: #305EBE;
	border: 1px solid #305EBE;
}
.commentaction:hover i{
	color: #FFF;
}
.commentaction.edit{
	margin-right: 10px;
}
.commentaction.delete{
	margin-right: 0;
}
.commentContainer{
	width: calc(100% - 120px);
	min-height: 35px;
	background: #EEE;
	border-radius: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	margin-right: 10px;
	float: left;
	overflow: hidden;
}
.commentContainer.editingComment{
	width: calc(100% - 122px);
	min-height: 33px;
	background: #FFF;
	border: 1px solid #EEE;
}
.commentContainer .input{
	width: calc(100% - 20px);
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
.addComment{
	width: 50px;
	height: 50px;
	background: transparent;
	border: 1px solid #EEE;
	border-radius: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	border: 1px solid #CCC;
	position: relative;
	outline: none;
	cursor: pointer;
}
.addComment i{
	font-size: 1.5rem;
}
.addComment:hover{
	background: #305EBE;
	border: 1px solid #305EBE;
}
.addComment:hover i{
	color: #FFF;
}
.tagcontainer{
	width: 80%;
	height: 50px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.tagcontainer .icon{
	width: 30px;
	height: 50px;
	float: left;
	position: relative;
	margin-right: 20px;
	color: #666;
	font-size: 2rem;
}
.of_postcontainer{
	width: 80%;
	height: auto;
	margin: auto;
}
.of_postauthor{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 10px;
}
.authoricon{
	font-size: 1.3rem;
}
.of_delete{
	width: 30px;
	height: 30px;
	position: relative;
	float: left;
	cursor: pointer;
}
.of_delete i{
	width: 30px;
	height: 25px;
	position: relative;
	float: left;
	text-align: left;
	padding-top: 5px;
	font-size: 1.3rem;
	color: #666;
}
.of_accountcontainer{
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../images/bg2.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
}
.of_accountbody{
	width: 50%;
	height: 80%;
}
.of_accountaesthetics{
	width: calc((100% - 10px) / 2);
	height: 100%;
	float: left;
	margin-right: 10px;
	border-radius: 8px;
	overflow: hidden;
	background-image: url(../images/hands1.png);
	background-size: cover;
	background-position: center;
}
.of_accountform{
	width: calc((100% - 10px) / 2);
	height: 100%;
	float: left;
	border-radius: 8px;
	overflow: hidden;
}
.of_bodyheader{
	width: 100%;
	height: 50px;
	background: #305EBE;
}
.of_bodyheadercontainer{
	width: 80%;
	height: 100%;
	margin: auto;
}
.of_logo{
	width: 200px;
	height: calc(100% - 10px);
	float: left;
	padding-top: 10px;
}
.of_links{
	width: calc(100% - 200px);
	height: 100%;
	float: left;
}
.of_linksfilter{
	width: 250px;
	padding: 0 30px;
	cursor: pointer;
	padding-right: 0;
	height: calc(100% - 10px);
	color: #FFF;
	float: right;
	font-size: 0.8rem;
	padding-top: 5px;
}
.of_linksfilter div{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background: #FFF;
	overflow: hidden;
}
.of_linksfilter div input{
	width: calc(100% - 40px);
	height: 100%;
	border: none;
	outline: none;
	padding: 0 20px;
}
.of_link{
	width: auto;
	padding: 0 30px;
	cursor: pointer;
	height: calc(100% - 15px);
	color: #FFF;
	float: right;
	font-size: 0.8rem;
	padding-top: 15px;
}
.of_body{
	width: 100%;
	height: calc(100vh - 50px);
}
.of_createcontainer{
	width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 50px;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 50px;
}
.of_status{
	width: 80%;
	height: auto;
	text-align: right;
	margin: auto;
}
.of_bodysubmit{
	width: 80%;
	height: 50px;
	margin: auto;
	text-align: right;
	margin-bottom: 30px;
}
.of_half{
	width: 50%;
}
.post .box{
	width: 40px;
	height: 40px;
	margin-top: 50px;
	margin-right: 20px;
	border-radius: 5px;
	float: left;
	margin-bottom: 20px;
}
.post .title{
	width: calc(100% - 60px);
	height: 40px;
	font-size: 1.7rem;
	font-weight: bold;
	padding-top: 50px;
	margin-bottom: 20px;
	color: #444;
}
.post .openbox{
	width: 38px;
	height: 38px;
	margin-top: 10px;
	margin-right: 20px;
	border-radius: 5px;
	float: left;
	margin-bottom: 20px;
	position: relative;
}
.post .openbox.comments{
	width: 38px;
	height: 38px;
	border-radius: 40px;
	font-size: 1.1rem;
	float: left;
	position: relative;
	margin-right: 20px;
	margin-top: 0;
}
.post .openbox i{
	font-size: 1.3rem;
}
.post .label{
	width: auto;
	height: 32px;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #444;
	float: left;
	position: relative;
	padding-right: 50px;
	padding-top: 8px;
}
.of_nodata{
	width: calc(100% - 100px);
	min-height: 45px;
	border-radius: 10px;
	margin-bottom: 10px;
	font-style: italic;
	font-size: 1.3rem;
	padding-top: 10px;
}
.of_postview{
	width: calc(100% - 100px);
	min-height: 25px;
	padding: 50px;
	background: #EEE;
	border-radius: 10px;
	font-size: 1.1rem;
	float: left;
	margin-bottom: 30px;
}
.of_commentsection{
	width: calc(100% - 60px);
	height: auto;
	float: left;
}
.of_commentsection .color{
	width: 100%;
	height: 40px;
	font-size: 1.1rem;
	position: relative;
}
.of_commentform{
	height: 90px;
}
.of_commentinput{
	width: calc(100% - 170px);
	height: 70px;
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	margin-right: 10px;
	float: left;
}
.of_commentinput textarea{
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	width: 100%;
	border: none;
	outline: none;
	padding: 0;
	resize: none;
	padding: 20px;
	font-family: inherit;
}
.of_oneofus{
	width: calc(100% - 15px);
	height: 50px;
	background: #305EBE;
	border-radius: 8px;
	margin-bottom: 10px;
	padding-left: 15px;
	color: #FFF;
	font-weight: bold;
	position: relative;
}
.of_authcontainer{
	width: calc(100% - 2px);
	height: calc(100% - 62px);
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 8px;
}
.of_authtitle{
	width: 80%;
	height: 40px;
	padding-top: 25px;
	margin: auto;
	color: #305EBE;
	font-weight: bold;
	font-size: 1.3rem;
}
.of_authalt{
	font-size: 0.85rem;
}
.of_accountlogout{
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../images/people_hands.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.of_logoutcontainer{
	background-image: url(../images/bg2.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: rgba(255, 255, 255, 0.5);
}
.of_logoutcontainer > .center_item{
	width: 35%;
	height: 70%;
	float: left;
	border-radius: 8px;
	overflow: hidden;
	background: #FFF;
}
.of_logoutcontainer .check{
	width: 100%;
	padding-top: 80px;
	height: 100px;
	text-align: center;
	margin-bottom: 30px;
}
.of_logoutcontainer .message{
	width: calc(100% - 100px);
	height: 100px;
	text-align: center;
	padding: 0 50px;
	font-size: 1.3rem;
	color: #305EBE;
}
.of_logoutalt{
	height: 100px;
	width: 100%;
	text-align: center;
	font-size: 1.3rem;
	position: absolute;
	bottom: 0;
	left: 0;
}